<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/Materialize/dist/css/materialize.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/service.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="lib/angular-materialize/src/angular-materialize.js"></script>
    <script src="js/init.js"></script>
</head>

<body ng-app="starter" ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable theme">
        <h1 class="title">{{title}} <i ng-class="useClass" ng-click="action()"></i></h1>
        <!-- <button class="button button-icon icon ion-search white-icon" ></button>-->
    </ion-header-bar>
    <ion-content>
        <!-- Inicio do Mapa -->
        <div id="map" data-tap-disabled="true" ng-show="content == 'map'"></div>
        <!-- Fim do Mapa -->
        <!-- Inicio da Lista de Escolas -->
        <div ng-show="content == 'list'">
            <p ng-if="escolas.length == 0" class="section">Nenhuma Pesquisa foi feita.</p>
            <div class="list" ng-if="escolas.length > 0">
                <div class="row" ng-repeat="escola in escolas track by escola.nome" ng-click="setEscola(escola)">
                    <div class="col s12 escola">
                        <div>
                            <img class="img" src="{{getImg(escola)}}">
                        </div>
                        <div class="info">
                            <p class="nome">{{escola.nome}}</p>
                            <p class="tipo">Modalidade: {{getInfo(escola)}}</p>
                            <p class="endereco">{{escola.endereco}}, {{escola.endereco_numero}} ,{{escola.bairro}}</p>
                            <!--<p class="distancia">{{distance(escola.loc[0], escola.loc[1], 'K')}} KM de Distância</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim da Lista de Escolas -->
        <!-- Inicio do Detalhe de Escolas -->
        <div ng-show="content == 'detalhe'">
            <div class="escola-selecionada">
                <p class="nome">{{escolaSelecionada.nome}}</p>
                <div class="box-escola">
                    <p class="tipo">Tipo: {{getInfo(escolaSelecionada)}}</p>
                    <p class="capacidade">Capacidade: <span>30 Alunos</span></p>
                </div>
                <div class="box-escola caract">
                    <p>Possui Berçário? {{getInfoB(escolaSelecionada)}}</p>
                    <p>Possui Refeitório? {{getInfoR(escolaSelecionada)}}</p>
                    <p>Possui Biblioteca? {{getInfoBi(escolaSelecionada)}}</p>
                    <p>Possui Laborátorio? {{getInfoLab(escolaSelecionada)}}</p>
                </div>
                <div class="box-escola contact">
                    <p>Fone: {{escolaSelecionada.telefone}}</p>
                    <p>Email: {{escolaSelecionada.email}}</p>
                </div>
                <br>
            </div>
        </div>
        <!-- Fim do Detalhe da Escola -->
        <!-- Inicio dos Filtros -->
        <div ng-show="content=='filtros'">
            <form>
                <p class="item-topic">Modalidade</p>
                <div class="row">
                    <div class="col s12">
                        <div input-field>
                            <select class="browser-default" ng-model="data.modalidade">
                                <option value="" disabled selected>Escolha uma Opção</option>
                                <option value="0">Regular</option>
                                <option value="1">Alunos com Necessidades Especiais</option>
                                <option value="2">EJA</option>
                                <option value="3">Creche</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p class="item-topic">Infraestrutura</p>
                <div class="row">
                    <div class="col s12">
                        <ul class="list">
                            <li class="item item-toggle">
                                Biblioteca
                                <label class="toggle toggle-positive">
                                    <input type="checkbox" ng-model="data.biblioteca">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </li>
                            <li class="item item-toggle">
                                Laboratório
                                <label class="toggle toggle-positive">
                                    <input type="checkbox" ng-model="data.laboratorio">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="item-topic">Raio de Localização (Km)</p>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="range" min="1" max="20" ng-model="data.raio"> {{data.raio}} Km
                    </div>
                </div>
            </form>
            <div class="row center">
                <div class="col s12">
                    <button class="button button-block waves-effect waves-light btn-selected" ng-click="aplicarFiltros()">
                        Aplicar Filtros
                    </button>
                </div>
            </div>
        </div>
        <!-- Fim dos Filtros -->
        <!-- Inicio das Tabs -->
        <div class="tabs theme" ng-show="content == 'map'">
            <a class="tab-item tab-text" ng-click="showMap()">
                Mapa
            </a>
            <a class="tab-item tab-text" ng-click="showList()">
                Lista
            </a>
        </div>
        <!-- Fim das Tabs -->
    </ion-content>
</body>

</html>
